import init.qcom.usb.${ro.config.product}.rc
on boot
    chown system system /sys/class/leds/red/blink
    chown system system /sys/class/leds/green/blink
    chown system system /sys/class/leds/blue/blink
    chown system system /sys/class/leds/red/ramp_step_ms
    chown system system /sys/class/leds/green/ramp_step_ms
    chown system system /sys/class/leds/blue/ramp_step_ms
    chown system system /sys/class/leds/red/pause_lo
    chown system system /sys/class/leds/green/pause_lo
    chown system system /sys/class/leds/blue/pause_lo
on post-fs-data
    mkdir /data/tinyproxy 0777

service tinyproxy /system/bin/tinyproxy
    class main
    user root
    socket letvbackup stream 0666 system system
    group system system
    disabled
    oneshot

on property:service.tinyproxy.enable=0
    stop tinyproxy

on property:service.tinyproxy.enable=1
    start tinyproxy

service nativelog /system/bin/letv_log_collector
    class main
    disabled
    oneshot
   
service lelogd_start /system/bin/lelogd
    class late_start
    disabled
    user root
    group root sdcard_rw sdcard_r system
    oneshot
service lelogd_stop /system/bin/lelogd -k
    class late_start
    disabled
    user root
    group root sdcard_rw sdcard_r system
    oneshot

on property:persist.sys.lelogd=1
    start lelogd_start
on property:persist.sys.lelogd=0
    start lelogd_stop   
