# implement fingerprint
on boot
    chown system system /sys/bus/spi/devices/spi10.0/irq
    chown system system /sys/bus/spi/devices/spi10.0/clk_enable
    chown system system /sys/bus/spi/devices/spi10.0/wakeup_enable
    chown system system /sys/bus/spi/devices/spi10.0/spi_prepare

service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group system
#add IR permision
chmod 666 /sys/remote/enable
chown system system /sys/remote/enable
chmod 666 /dev/ttyHSL1
chown system system /dev/ttyHSL1
