# Triggers

on post-fs
    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin:/data/busybox
    rm /cache/unblock/post-fs
    start magisk_pfs
    wait /cache/unblock/post-fs 10
    rm /cache/unblock/post-fs

on post-fs-data
    rm /cache/unblock/post-fs-data
    start magisk_pfsd
    wait /cache/unblock/post-fs-data 100
    rm /cache/unblock/post-fs-data

on property:magisk.phhsu=1
    start phhsu

on property:magisk.root=*
    start magisk_root

# Services

# launch post-fs script
service magisk_pfs /sbin/magic_mask.sh post-fs
    user root
    seclabel u:r:init:s0
    oneshot

# launch post-fs-data script
service magisk_pfsd /sbin/magic_mask.sh post-fs-data
    user root
    seclabel u:r:init:s0
    oneshot

# launch late_start script
service magisk_service /sbin/magic_mask.sh service
    class late_start
    user root
    seclabel u:r:init:s0
    oneshot

# root handling
service magisk_root /sbin/magic_mask.sh root
    user root
    seclabel u:r:init:s0
    oneshot

# launch phh Superuser
service phhsu /magisk/phh/su --daemon
    user root
    seclabel u:r:su_daemon:s0
    oneshot